#chat
{
   margin-left: 400px;
    width:60%;
    height: 600px;
    background-color: rgb(245, 243, 239);
    padding-top: 30px;
    padding-left: 90px;
}
#login
{
    float: left;
    width: 20%;
    height: 600px;
    background-color:#4A394B;
    padding-left: 40px;
    padding-top: 50px;
    margin-left: 100px;
}
#input
{
   
    margin-top: 70px;
    width:500px;

}
#button
{
    margin-top: 40px;
   
}
#head
{
    width: 100%;
    height: 30px;
}
#msgs
{
    overflow: auto;
    width: 100%;
    height:400px;
    
   
}
#main
{
    width: 100%;
    
}